
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}
h1 {
    font-weight: 700;
    background-color: darkblue;
    margin: 0;
    padding: 3px;
    color: white;
    line-height: 1.25;
}
main {
    margin: 10px 10px;
    width: 90%;
    padding:15px;
}
header {
    margin: 2px;
    padding: 0;
}
/* CARDS */
.card {
    margin: 0 0 20px 0;
    border: none;
}
.card-header {
    color: black;
    background-color:white;
    font-weight: bold;
    padding: 2.5%;
} 
.card-body {
    padding: 2.5%;
    border-bottom: 1px solid black;
} 
/* FORM */
.city-input {
  display: block;
}
.city-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
}  
/* BUTTON */
.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(51, 145, 221);
    box-shadow: 3px 3px black;
    transform: translate(-1px, -1px);
}
.btn:hover {
    color: #ccdad1;
    background-color: rgb(37, 105, 148);
    transform: translate(0, 0);
    box-shadow: 2px 2px black;
}
.historylist {
    display: block;
    width: 29%;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
.historylist:hover{
    color: #ccdad1;
    background-color: rgb(37, 105, 148);
    transform: translate(0, 0);
}
 .currentweather{
    border:3px solid black;
} 